

@model ML.Alumno
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Formulario de Alumno</h1>
<p>
    En este modulo puedes Agregar en el formulario de Alumno<br />
</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Alumno</h2>
        </div>
    </div>

    @using (Html.BeginForm("Form", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IdAlumno, new { @class = "visually-hidden" })

                    @Html.TextBoxFor(model => model.IdAlumno, new { @class = "visually-hidden form-control" })
                    @Html.ValidationMessageFor(model => model.IdAlumno)
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Nombre)
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus fa-fade" style="color:#b257a2"></i></span>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "SoloLetras(event, 'lblNombre', 'txtNombre')" })
                        @Html.ValidationMessageFor(model => model.Nombre)

                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoPaterno)
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar2-minus-fill " style="color:#2c4ee7"></i></span>
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtFechaCreacion", @onkeypress = "SoloLetras(event, 'lblApellidoPaterno', 'txtApellidoPaterno')" })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ApellidoMaterno)
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar2-plus-fill " style="color:#e72c59"></i></span>
                        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtFechaModificacion", @onkeypress = "SoloLetras(event, 'lblApellidoMaterno', 'txtApellidoMaterno')" })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno)

                    </div>
                </div>

              

            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Regresar", "GetAll", "Alumno", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>
